<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Получить помощь по Ruby on Rails Tutorial на странице
  <a href="http://www.railstutorial.org/#help">Rails Tutorial раздел Help</a>.
  Чтобы получить помощь по данному примеру, см.
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  книга</a>.
</p>